
fastapi>=0.68.0
uvicorn>=0.15.0
requests>=2.26.0
sqlalchemy>=1.4.0
streamlit>=1.22.0
python-dotenv>=0.19.0
faker>=18.4.0
phidata>=0.4.0
groq>=0.3.0
selenium>=4.1.0
phidata 
python-dotenv
yfinance
packaging
duckduckgo-search
fastapi
uvicorn
groq
openai
googlesearch-python
pycountry

